@import "@wikimedia/codex/dist/codex.style.css";

@media screen and (min-width: 768px) {
  :root {
    --vp-nav-height: 88px;
  }

  aside.VPSidebar .curtain {
    top: -88px;
  }
}

.VPNavBarTitle .title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: 4px;
}

.VPNavBarTitle .title span {
  white-space: normal;
  width: min-content;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.VPNavBarTitle .title img {
  width: 38px;
  height: auto;
}

#VPSidebarNav div:first-of-type section {
  padding-bottom: 12px;
}
