@import "@wikimedia/codex/dist/codex.style.css";

@media screen and (min-width: 768px) {
  :root {
    --vp-nav-height: 88px;
  }

  aside.VPSidebar .curtain {
    top: -88px;
  }
}

.VPNavBarTitle .title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: 4px;
}

.VPNavBarTitle .title span {
  white-space: normal;
  width: min-content;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.VPNavBarTitle .title img {
  width: 38px;
  height: auto;
}

#VPSidebarNav div:first-of-type section {
  padding-bottom: 12px;
}


p img+em { /* Image caption. In markdown, emphasis right after the image is used as a caption */
    display: block;
    font-size: smaller;
    color: #54595d; /* Codex token: color-subtle */
    padding: 8px;
    margin-bottom: 2em;
}

img[src*=--float]{ /* Images with "--float" appended in the src (after the "#") will float */
    float: right;
    margin: 0 2em; 
    max-width: 33%;
}

hr.clear { /* Allows to use "--- {.clear}" to prevent contents to float after a floating image */
  clear:both;
  border: none;
}