@import "@wikimedia/codex/dist/codex.style.css";

@media screen and (min-width: 768px) {
  :root {
    --vp-nav-height: 78px;
  }
}

.VPNavBarTitle .title span {
  white-space: normal;
}

#VPSidebarNav div:first-of-type section {
  padding-bottom: 12px;
}
